body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    height: 100vh;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* Estilo da sidebar */
.sidebar {
    width: 250px;
    background-color: #5bc0de;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

nav ul ul{
    position: static;
    display: none;
}

nav ul .submenu{
    display: block;
}

.profile-container {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    margin: 5px;
    border-radius: 8px;
    width: 87%;
}
.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}
.profile-icon i {
    color: rgb(0, 0, 0) !important;
    font-size: 35px;
}
.profile-name {
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}

.perfil {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0;
    background-color: #ffffff;
    border-radius: 12px;
    margin: 0 15px 20px;
}

.menu {
    list-style: none;
    padding: 0;
}
.menu-item {
    display: flex;
    align-items: center;
    padding: 10px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 4px;
}
.menu-item:hover {
    background-color: #80c4ed;
}
.menu-item i {
    margin-right: 10px;
}
.submenu {
    list-style: none;
    padding-left: 20px;
}
.submenu-item {
    padding-left: 30px;
    font-size: 14px;
    font-weight: normal;
    color: white;
}

.sidebar a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    transition: background-color 0.3s;
}

.sidebar a i {
    margin-right: 10px;
}

.sidebar a.active,
.sidebar a:hover {
    background-color: #46b8da;
}

.submenu {
    display: none;
    padding-left: 30px;
    margin-top: 10px;
}

.logout {
    margin-top: auto;
    padding: 20px 0;
    text-align: center;
}

.logout a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logout a:hover {
    background-color: #46b8da;
}



.container {
    width: 90%;
    height: 50%;
    max-width: 1200px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.header{
    display: flex;
    width: 25%;
    align-items: center;
    padding: 10px;
    border: 1px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.tabela {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.numero{
    font-size: 2em;
    margin-right: 10px;
}
.texto{
    font-size:1em;
    right: 0;
}

.add-patient-btn {
    background-color: #00a2ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.search-input {
    width: 250px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.patient-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

.patient-table th, .patient-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.patient-table th {
    background-color: #f0f0f0;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.load-more-btn {
    background-color: #00a2ff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
}

.pagination {
    display: flex;
    align-items: center;
}

.pagination label, .pagination span {
    margin-right: 5px;
}

#items-per-page {
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ccc;
}